<!-- jQuery -->
<script src="/example/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/example/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="/example/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/example/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/example/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/example/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/example/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/example/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/example/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/example/vendors/Flot/jquery.flot.js"></script>
<script src="/example/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/example/vendors/Flot/jquery.flot.time.js"></script>
<script src="/example/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/example/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/example/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/example/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/example/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/example/vendors/DateJS/date.js"></script>
<!-- JQVMap -->
<script src="/example/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/example/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/example/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/example/vendors/moment/min/moment.min.js"></script>
<script src="/example/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/example/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/example/vendors/google-code-prettify/src/prettify.js"></script>
<script src="/example/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<!-- bootstrap-datetimepicker -->
<script src="/example/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<!-- Datatables -->
<script src="/example/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/example/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/example/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/example/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/example/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/example/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/example/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/example/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/example/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/example/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/example/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/example/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

<!-- Others -->
<script src="/example/vendors/jszip/dist/jszip.min.js"></script>
<script src="/example/vendors/pdfmake/pdfmake.min.js"></script>
<script src="/example/vendors/pdfmake/vfs_fonts.js"></script>

<!-- Handlebars -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/example/js/custom.js"></script>
<script>
$(document).ready(function() {
	$('.input-group-addon').on('click',function(e) {
		if($('.bootstrap-datetimepicker-widget') && $('.bootstrap-datetimepicker-widget').is(":visible")) {
			e.preventDefault();
		} else {
			$(this).parents('.input-group.date').find('input').data('DateTimePicker').show();
		}
	});
});
</script>
